<div class="main-link-group">
  <%= link_to 'Give Feedback', new_review_path, class: 'main-link' %>
  <%= link_to 'Rate Feedback', new_rating_path, class: 'main-link' %>
  <%= link_to 'Get Feedback', reviews_path, class: 'main-link' %>
</div>
