@import "reviews";

html, body {
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: 30px;
  font-size: 14px;
}

.container-main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  margin-top: 80px;
  font-family: sans-serif;
}

.main-nav-container {
  width: 80%;
  margin: 0 auto;
  line-height: 78px;
}

.main-link {
  border: 1px solid #B0B0B0 ;
  padding: 50px;
  margin: 30px 0;
  background-color: #E5E5E5 ;
  color: #858585 ;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #D9D9D9 ;
    color: #666666 ;
    border-color: #A1A1A1 ;
  }
}

.main-nav {
  margin-bottom: 20px;
  border-bottom: 1px solid #b0b0b0;
  height: 50px;
}

.line {
  border-bottom: 1px solid lighten(#858585, 30%);
  width: 500px;
  margin: 20px auto 30px auto;
}

.main-nav-link {
  text-align: center;
  text-decoration: none;
  color: #858585;
  margin-right: 50px;

  &.float-right {
    margin-right: 0;
    margin-left: 50px;
  }

  &:hover {
    color: darken(#858585, 25%);
  }

  &.active {
    color: lighten(#858585, 25%);
  }
}