.btn {
  padding: 10px;
  border-radius: 3px;
  border: none;
}

.btn-blue {
  background-color: #438ee9;
  color: white;
}

.tabs {
  position: relative;
  margin-bottom: 30px;
}

.tab-link {
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  color: #858585;

  &.active {
    border-bottom: 4px solid #438ee9;
    color: lighten(#858585, 25%);
  }

  &:hover {
    color: darken(#858585, 25%);
  }
}
