.form-new-review {
  background-color: #f6f6f2;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 3px;

  p {
    margin: 0;
  }

  li {
    height: 40px;
  }

  textarea {
    border-radius: 3px;
    width: 99.5%;
    height: 60px;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
  }
}

.form-new-rating {
  .comment, .ratings-group {
    box-sizing: border-box;
    width: 49.5%;
    margin: 0;
  }

  .rating-name {
    display: inline-block;
  }

  input[type='radio'] {
    margin: 0 37px;  
  }

  .btn {
    margin-top: 40px;
  }
}

.rating-name {
  width: 85px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.radio-rating-label {
  display: inline-block;
  width: 88px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.statements, .radios {
  display: inline-block;
  font-size: 14px;
  width: 41%;
  padding: 10px;
  box-sizing: border-box;
}

.statements {
  width: 58%;
}
